.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .product {
    max-width: 33.2%;
    padding-bottom: 3rem;
    display: flex;
    min-width: 150px;
    align-items: start;

    .product-img {
      width: 60%;
      max-width: 60%;
    }

    .btn-favorite {
      max-width: 19%;
      margin-right: 3rem;
      background-color: transparent;
      font-size: 2rem;
      border: none;
      cursor: pointer;

      &.active {
        color: #701E76;
      }
    }
  }
}
