<div class="product-list" >
  <div class="product" *ngFor="let option of options">
    <img class="product-img" [src]="option.displayImageUrl" alt="Product image">
    <button class="btn-favorite" [class.active]="isFavorite(option)" (click)="toggleFavorite(option)">
      ♥
    </button>
  </div>
</div>
