.app {
  padding-top: 5rem;
  display: flex;
  flex-flow: column;

  .headline {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 3rem;

    &.error {
      color: #b40000;
    }
  }

  .products {
    margin: 0 auto;
    max-width: 700px;
  }
}

