<div class="app" *ngIf="hasError">
  <div class="headline error">
    Oops! Something unexpected happened
  </div>
</div>

<div class="app" *ngIf="productCategory">

  <div class="headline">
    {{ productCategory.headline }}
  </div>

  <div class="products">
    <app-product-list [options]="productCategory?.options"></app-product-list>
  </div>
</div>
