/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('/src/assets/fonts/Roboto-Regular.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
}
